services:
  # бэкенд
  api:
    image: ghcr.io/voold/siblions:latest
    container_name: node_backend_app
    ports:
      - "127.0.0.1:3034:3000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - app_network

  # Бд
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: ${DB_NAME:-my_database}
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  pgdata: